    @media (min-width: 1920px) {
        .main-inner::after {
            content: "";
            position: absolute;
            background-image: url(../images/footballer_566.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 908px;
            width: 566px;
            top: 26px;
            left: 390px;
        }

        .main-wrapper::before {
            content: "";
            position: absolute;
            background-image: url(../images/basketballer_991.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 991px;
            height: 815px;
            top: 957px;
            left: 803px;
        }
    }    

    @media (max-width: 961px) {
        h1 {
            margin-left: 85px;
        }

        .header {
            background-image: url(../images/football_1280.jpg);
        }
        .header-logo-wrapper {
            margin-bottom: 181px;
        }
        .header-title {
            margin-bottom: 312px;
        }
        .position {
            flex-wrap: wrap;
        }
        .card-img {
            width: 100%;
        }
        .card-subject {
            width: 100%;
            padding-left: 0;
        }        
        .position {
            left: 33px;
            color: white;
            font-size: 24px;
            display: flex;
            top: calc( (100vw - 768px) / (1200 - 768) * (712.5 - 422.5) + 422.5px);

        }
        .card-subject h2 {
            margin-bottom: 38px;
            margin-left: 26px;
            margin-top: 91px;
        }
        .card-text {
            margin-left: 26px;
            margin-bottom: 49px;
        }
        .card-item:nth-child(n+2) .position {
            top: calc( (100vw - 768px) / (1200 - 768) * (822.5 - 492.5) + 492.5px);
        }
        .download-app-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            flex-direction: column;
        }
        .download-app-icon {
            margin-bottom: 83px;
        }
        .download-app {
            padding-top: 115px;
        }
        .footer-buttons-wrapper {
            margin-top: 288px;
        }
        .footer-logo-wrapper {
            margin-top: 55px;
            padding-bottom: 24px;
        }
        .card-item:nth-child(2n+2) .card-subject {
            width: 100%;
            padding-right: 0;
        }

        .footer {
            background-image: url(../images/game_1280.jpg);            
        }
    }

    @media (max-width: 700px) {
        .button {
            width: 290px;
        }
        .download-app-text {            
            font-size: 75px;
        }
        .show_everyone {            
            font-size: calc( (100vw - 769px) / (1920 - 769) * (30 - 36) + 35px);
        }
    }
        
    @media (max-width: 640px) {
        h1 {
            font-size: 28px;
            margin-left: 0;
        }

        .header {
            background-image: url(../images/football_767.jpg);
        }

        .container {             
            padding-top: 33px;
            padding-bottom: 84px;
        }
        .title-top {
            margin-bottom: 30px;
            margin-left: 33px;
        }
        .title-bottom {
            margin-left: 63px;
        }
        .header-title {
            margin-bottom: 90px;
        }
        .header-buttons-wrapper {
            flex-direction: column;
        }
        .btn-apple {            
            margin-right: 0;
            margin-bottom: 14px;
            font-size: 8px;
            padding-left: 0;          
        }
        .btn-google {            
            font-size: 8px;
            padding-left: 0;
        }           

        .button {
            width: 280px;
            height: 35px;
            justify-content: center;
            
        }
        .btn-apple-icon {
            height: 24px;
        }

        .btn-google-icon {
            height: 24px;
            margin-left: -14px;
        }

        .athlets-list {
            padding-left: 21px;
        }

        .atlets-title {        
            font-size: 50px;        
        }

        .atlets-title-wr {
            padding-left: 21px;
            margin-bottom: 245px;
        }

        .main-athlets-wrapper {
            padding-left: 0;
        }

        .main-inner {
            padding-top: 28px;
        }

        .main-inner::after {          
            height: 281px;
            width: 192px;
            top: 80px;
            left: 70px;
            background-image: url(../images/footballer_192.png);
        }
        
        .main-athlets-wrapper:nth-child(3n+2) {
            background-color: #fafafa;
            
        }

        .list-itm-title-subject {            
            font-size: 23px;            
        }

        .list-itm-text {
            font-size: 15px;
            
        }

        .main-players-inner {
            padding-top: 28px;
            
        }

        .players-title {            
            font-size: 50px;            
        }


        .players-title-wr {            
            margin-bottom: 245px;
            padding-left: 21px;
        }

        .main-wrapper::before {            
            width: 302px;
            height: 248px;
            top: 1089px;
            left: 9px;
            background-image: url(../images/basketballer_302.png);
        }

        .main-players-wrapper:nth-child(3n+2) {
            background-color: #fafafa;
        }

        .position {
            position: absolute;
            background-color: #5e42b0;
            width: 70px;
            height: 70px;
            top: calc( (100vw - 320px) / (640 - 320) * (370 - 155) + 155px);
           
            left: 21px;
            font-size: 14px;
        }

        .card-subject {            
            padding-top: 35px;
            padding-left: 21px;
        }

        .card-subject h2 {            
            font-size: 28px;  
            margin: 0;       
            margin-bottom: 24px;       
        }

        .card-text {
            margin-left: 0;
            margin-bottom: 77px;
        }

        .card-item:nth-child(n+2) .position {
            top: calc( (100vw - 320px) / (640 - 320) * (430 - 186) + 186px);
        }

        .footer-wrapper {          
            padding-top: 99px;            
        }

        .download-app-icon {            
            border-radius: 16px;
            width: 72px;
            height: 74px;            
            margin-right: 0;
            background-size: 75%;
            margin-bottom: 59px;
        }

        .download-app {
            padding-top: 0;
        }

        .download-app-text {
            font-size: 32px;
        }

        .show_everyone {
            font-size: 14px;
        }

        .footer-wrapper {           
            padding-bottom: 10px;
        }

        .footer-buttons-wrapper {
            margin-top: 76px;
        }

        .footer-logo-wrapper {
            margin-top: 82px;
            padding-bottom: 0;
        }       

        .footer-buttons-wrapper {
            flex-direction: column;
        }

        .logo-svg-icon {
            width: 133px;
        }

        .footer {
            background-image: url(../images/game_767.jpg);            
        }
}